name: Config
description: "Computes commits for all repos for the current pipeline"

inputs:
  FM_CI_TOKEN:
    required: true
    description: "secrets.FM_CI_TOKEN"
    type: string

outputs:
  compare:
    description: "compare=1 if and only if CI should compare performance against env.COMMITS_BASE"
    value: ${{ steps.config.outputs.compare }}
  pr_number:
    description: "pr_number is only set if there is a PR associated with the current pipeline. This includes push pipelines."
    value: ${{ steps.config.outputs.pr }}
  artifact-id:
    value: ${{ steps.artifact.outputs.artifact-id }}

runs:
  using: "composite"
  steps:
    - id: parse
      name: "Parse trigger"
      shell: bash
      working-directory: ${{ env.WORKDIR }}
      # TODO: do not pass github token via cmdline
      run: |
        echo args="--trigger-event-type='${{ github.event_name }}' \
                   --trigger-pr='${{ github.event.number }}' \
                   --trigger-repo=${{ github.repository }} \
                   --trigger-default-branch='${{ github.event.repository.default_branch }}' \
                   --trigger-branch='${{ github.head_ref || github.ref_name }}' --trigger-commit='${{ github.sha }}' \
                   --github-token='${{ inputs.FM_CI_TOKEN }}'" \
                   --log-level='WARN' \
          | tee -a "$GITHUB_OUTPUT"
        echo ci-script="uv -q --project dev/ci/gen/ run dev/ci/gen/ci.py" \
          | tee -a "$GITHUB_OUTPUT"
    - id: checkout
      name: "Initial Checkout"
      shell: bash
      working-directory: ${{ env.WORKDIR }}
      run: |
        # export GIT_PYTHON_TRACE=1
        ${{ steps.parse.outputs.ci-script }} checkout_workspace ${{ steps.parse.outputs.args }} \
          2> >(tee ${{ env.SCRATCHDIR }}/checkout.log >&2)
        if [[ -s ${{ env.SCRATCHDIR }}/checkout.log ]]; then
          echo -e '# `checkout_workspace`\n' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat ${{ env.SCRATCHDIR}}/checkout.log >> $GITHUB_STEP_SUMMARY
          echo -e '```\n' >> $GITHUB_STEP_SUMMARY
        fi
    - id: shallow_clones
      name: "Shallow Clones"
      shell: bash
      working-directory: ${{ env.WORKDIR }}
      run: |
        make lightweight-clone -j
    - id: config
      name: "Build commit files"
      shell: bash
      working-directory: ${{ env.WORKDIR }}
      run: |
        # export GIT_PYTHON_TRACE=1
        ${{ steps.parse.outputs.ci-script }} config ${{ steps.parse.outputs.args }} \
          --output-file-job="${{ env.COMMITS_JOB }}" \
          --output-file-base="${{ env.COMMITS_BASE }}" \
          --output-file-github="$GITHUB_OUTPUT" \
          2> >(tee ${{ env.SCRATCHDIR }}/config.log >&2)
        if [[ -s ${{ env.SCRATCHDIR }}/checkout.log ]]; then
          echo -e '# `config`\n' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat ${{ env.SCRATCHDIR}}/config.log >> $GITHUB_STEP_SUMMARY
          echo -e '```\n' >> $GITHUB_STEP_SUMMARY
        fi
    - name: "Output commit files"
      shell: bash
      working-directory: ${{ env.WORKDIR }}
      run: |
        echo "==== JOB COMMITS ===="
        echo -e '\n# Commits\n\n' >> $GITHUB_STEP_SUMMARY
        echo -e '\n<details><summary>Job Commits</summary>\n\n```' >> $GITHUB_STEP_SUMMARY
        cat ${{ env.COMMITS_JOB }} | tee -a $GITHUB_STEP_SUMMARY
        echo -e '```\n\n</details>' >> $GITHUB_STEP_SUMMARY
        if [[ "${{ steps.config.outputs.compare }}" = "1" ]]; then
          echo "==== BASE COMMITS ===="
          echo -e '\n<details><summary>Base Commits</summary>\n\n```' >> $GITHUB_STEP_SUMMARY
          cat ${{ env.COMMITS_BASE }} | tee -a $GITHUB_STEP_SUMMARY
          echo -e '```\n\n</details>' >> $GITHUB_STEP_SUMMARY
        fi
    - id: artifact
      uses: actions/upload-artifact@v4
      name: "Upload Commit Files"
      with:
        name: "commit-files"
        path: |
          ${{ env.WORKDIR }}/${{ env.COMMITS_JOB }}
          ${{ env.WORKDIR }}/${{ env.COMMITS_BASE }}
